             The Oktaco Shop

           YCW19 Folsom Street
         San Francisco, CA, USA 
               562-726-4761

            https://okteto.com

=========================================
{% for item in items %}
  {{ item.name }}               ${{item.price}}
{% endfor %}
=========================================

             Total: ${{ total }}
      https://okteto.com/free-trial      

